body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: black;
    padding: 20px;
}

footer{
    background-color: blueviolet;
    padding: 20px;
}

main{
    flex-grow: 1;
}
