div{
    border: 3px green solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 200px;
    height: 100px;

}
