div{
    border: 3px white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: blue;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;

}
